<nav class="navbar navbar-dark navbar-expand-lg " id="navbar">
    <a href="/" class="navbar-brand">
        Blog
    </a>

    <ul class="navbar-nav mr-auto" >
        <li >
            <a href="/admin/categories" class="nav-item nav-link" >Categorias</a>
           
            
        </li>
        <li >
            
            <a href="/articles/"  class="nav-item nav-link" style="margin-left: 4px; margin-right:4px;">Artigos</a>
            
        </li>
        <li >
            
            <a href="/login"  class="nav-item nav-link" style="margin-left: 4px; margin-right:4px;">Login</a>
            
        </li>
    </ul>
</nav>

