<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<style>
    body {
        text-align: center;
    }
    #form-login {
        background-color: darkolivegreen;
        display: inline-block;
        text-align: center;
        margin: 100px auto;
        padding: 30px;
        border: 1px solid brown;
        border-radius: 10px;
        color: black;
        font-weight: bold;
    }
    input {
        border-radius: 10px;
    }
    button {
        background-color: antiquewhite;
        font-weight: bold;
        border: none;
        border-radius: 7px;
    }
</style>

<form action="" method="post" id="form-login">
    <h2>Login</h2>
    <br>
    Usuario: <input type="text"><br><br>
    Senha:   <input type="password"><br><br>
    <button>Entrar</button>
</form>

<%- include('partials/footer.ejs') %>